html {
	background-image:url(../images/background.jpg);
	}

body{
	width:999px ;
	background-color:white;
	margin: 10px auto;
	border: 2px solid black;
	
	}
body h1{
	font-family:;
}	


header{
	text-align: center;
	border-bottom:1px solid black;
	background-image:url(../images/thumb.jpg);
	
	color:white;
	font-size:;
	padding-top: 15px;
	}
	
#logo{
	float: left; 
	padding-right: 15px; 
}

#navmenu ul{
	list-style-type:none;
	padding-right:10px;
	position:relative;
}
#navmenu ul li{
	float:left;
}

#navmenu ul ul{
	display:none;
	position:absolute;
	top:100%;
}
#navmenu ul ul li{
	float:none;
	position:relative;
}
#navmenu ul ul li ul{
	position:absolute;
	left:100%;
	top:0;
}

#navmenu ul li:hover>ul{
	display:block;
	z-index:1;
}
#navmenu ul:after{
	content: "";
	clear:both;
	display:block;
}
#navmenu ul {
	margin: 0;
	padding: 0;
}

#navmenu ul li a{
	text-align:center;
	display:block;
	width:333px;
	padding: 1em 0;
	text-decoration:none;
	background-color:rgb(128,0,0);
	color:white;
	font-weight:bold;
	
}

#navmenu ul li:last-child{
border-right:none;
}
#navmenu ul li a.current{
color:;
}
#navmenu ul li a:active{
	color: ;
}
#navmenu ul li a:hover{
	background-color:;
	color:;
}
#navmenu ul li a:focus{
	background-color:;
	color:;
}	



#left{
	padding-top:25px;
	padding-right:10px;
	width:200 px;
	height:800px;
	float: left;
	border-right: 1px solid black;
	background-color:;
	}

#navlist ul{
	padding-right:20px;
	list-style-type:none;
	padding-bottom:1px;
	
}


#navlist img{
	margin-bottom:20px;
	margin-top:20px;
	border:2px solid black;
}


main{
	width:500 px;
	float:left;
	padding-left:40px;
	text-align:left;
	padding-right:7px;
    }

main article{
	width:450px;
}
main article h1{
	
}
main #para:first-child::first-letter{
	font-size:150%;
}
	
}
#right{
	padding-top:15px;
	padding-left:20px;
	width:200px;
	height:800px;
	float: right;
	border-left: 1px solid black;
	}


footer{
	clear:both;
	border-top:2px solid black;
	text-align:center;
	background-color:;
    }

